<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Documents.Properties.Settings.GESConnectionString"
            connectionString="Data Source=GAMMA;Initial Catalog=GES;Integrated Security=True"
            providerName="" />
        <add name="Documents.Properties.Settings.OrgConnectionString"
            connectionString="Data Source=192.168.8.252;Initial Catalog=Org;Integrated Security=True"
            providerName="" />
        <add name="Documents.Properties.Settings.PrvDBConnectionString"
            connectionString="Data Source=192.168.8.252;Initial Catalog=PrvDB;Integrated Security=True"
            providerName="" />
        <add name="Documents.Properties.Settings.PrvDbncConnectionString"
            connectionString="Data Source=192.168.8.252;Initial Catalog=PrvDbnc;Integrated Security=True"
            providerName="" />
        <add name="Documents.Properties.Settings.OrgConnectionString1"
            connectionString="Data Source=SALE-SQL;Initial Catalog=Org;Integrated Security=True"
            providerName="" />
        <add name="Documents.Properties.Settings.trueGESConnectionString"
            connectionString="Data Source=192.168.1.43;Initial Catalog=GES;Integrated Security=True"
            providerName="" />
        <add name="Documents.Properties.Settings.GESConnectionString1"
            connectionString="Data Source=sale-sql;Initial Catalog=GES;Integrated Security=True"
            providerName="" />
        <add name="Documents.Properties.Settings.GESConnectionString2"
            connectionString="Data Source=ULGES-SQL2;Initial Catalog=GES;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>